DB_USER=postgres
DB_HOST=postgres
DB_NAME=juicios
DB_PASSWORD=postgres
DB_PORT=5432
PORT=4000
NODE_ENV=production
FRONTEND_URL=https://juicios-evaluativos-jp.adsoproject.dev
API_URL=https://api-juicios-evaluativos-jp.adsoproject.dev
